<?xml version="1.0" encoding="utf-8"?>
<OnTimeExtension>
  <Arguments>
    <ExtensionName>Scan Barcode to Update Status</ExtensionName>
    <ProductCode>b2070dbc-eee0-4ad6-946a-bb34eaf5bcb3</ProductCode>
  </Arguments>
  <Settings>
    <AutoBuild>false</AutoBuild>
    <AutoOverwrite>true</AutoOverwrite>
    <AutoOpen>true</AutoOpen>
    <AutoRun>false</AutoRun>
  </Settings>
</OnTimeExtension>